@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

h1, h2{
   font-family: 'Open Sans Condensed', sans-serif;
   color: #000;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
    display: flex;
}

section {
    width: 350px;
    margin: 10px;
    border: solid 1px #CCC; /*border-radius*/
    padding-bottom: 20px;
}

h2, p, button {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    /*height: 100%;
    min-height: 100px;*/
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) { /*if screen is at certain width*/
    main {
        flex-wrap: wrap; /*allows resizing*/
    }
    section {
        width: calc(50% - 20px);
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}